<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <provider
            android:name="com.hasan0525.hteacher.PdfImportTestProvider"
            android:authorities="com.hasan0525.hteacher.testpdf"
            android:exported="true"
            android:grantUriPermissions="true" />
    </application>
</manifest>
